*{margin:0;padding:0;border:0;}
div.clear{clear:both;}
body{font-size:62.5%;line-height:1.5em;font-family:helvetica,arial,sans-serif;}
#wrapper{border:1px #ccc solid;border-top:none;margin:0px auto;width:950px;color:#333;background-color:#fafafa;-moz-box-shadow:0px 0px 1em #cccccc;-webkit-box-shadow:0px 0px 1em #cccccc;box-shadow:0px 0px 1em #cccccc;-moz-box-shadow:0px 0px 1em #cccccc;-webkit-box-shadow:0px 0px 1em #cccccc;box-shadow:0px 0px 1em #cccccc;-moz-box-shadow:0px 0px 1em #cccccc;-webkit-box-shadow:0px 0px 1em #cccccc;box-shadow:0px 0px 1em #cccccc;}
#footer{border-top:1px #ccc solid;padding:20px 0 60px 0;width:920px;margin:0 auto;color:#aaa;text-align:right;}
#footer a{color:#aaa;}
#footer a:hover{color:#888;}
#footer #tsb{float:left;}
#header #divider{position:relative;width:100%;height:10px;z-index:0;clear:both;}
#header #logo{position:relative;width:100%;margin-top:-15px;}
#header #logo #embed{position:relative;margin-right:5px;float:left;z-index:0;width:200px;}
#header #logo #programme-name{position:relative;margin-top:15px;float:left;z-index:0;width:570px;text-align:right;line-height:2em;}
#header #logo #est{position:relative;margin-left:5px;float:right;z-index:0;}
#header #alt_divider{height:25px;}
#header,#content,textarea{font-size:1.2em;font-family:helvetica,arial,sans-serif;}
h1,h2,h3,h4,h5,h6{margin:0 0 5px 0;letter-spacing:1px;color:#444;text-transform:lowercase;}
p,address,ul,ol{margin:0 0 15px 0;}
address{font-style:normal;}
a.view-all{float:right;}
ul ul,ol ol{margin:0 0 0 20px;}
table{border-collapse:collapse;margin:0 0 15px 0;}
table.full{width:100%;margin:0 0 15px 0;}
table.inner{width:100%;margin:0;}
th{font-size:1.05em;padding:8px;background:#ddd;border-top:2px solid #c8c8c8;border-bottom:1px solid #fff;color:#333;}
td{padding:8px;background:#f2f2f2;border-bottom:1px solid #fff;color:#555;border-top:1px solid transparent;vertical-align:top;}
td.inner{padding:0;border:0;}
td.icons{padding-top:10px;}
td.right{text-align:right;}
tr:hover td{background:#e8e8e8;color:#222;}
tr.failed td{background:#F2BCBC;}
tr.failed:hover td{background:#E29E9E;}
form{margin:0 0 15px 0;}
.string input,.password input,.numeric input,.file input,textarea{border:1px solid #ccc;padding:2px;}
select{border:1px solid #ccc;padding:1px 3px;background:white;}
option{padding:1px 5px;}
textarea{width:600px;height:100px;}
legend{font-size:1.4em;line-height:1.4em;font-weight:bold;}legend span{margin-bottom:10px;display:block;}
fieldset.inputs{margin:0 0 30px 0;}
form.single_part fieldset.inputs{margin:0 0 10px 0;}
fieldset.fieldhelper li.date select{width:100px !important;}
fieldset.fieldhelper ol li{line-height:1.5em;clear:left;}
fieldset.fieldhelper textarea{width:400px;}
fieldset.fieldhelper label{width:150px;display:block;float:left;text-align:right;margin:0 10px 0 0;vertical-align:middle;font-weight:normal;}
fieldset.fieldhelper select,fieldset.fieldhelper input{width:400px;line-height:1.5em;vertical-align:middle;}
fieldset.fieldhelper input.other{width:305px !important;}
form.formtastic p{margin-left:160px;}
form.formtastic legend span{margin-bottom:0;}
form.formtastic legend.label{font-size:1em;}
form.formtastic fieldset ol{list-style-type:none;margin:0;}form.formtastic fieldset ol li{margin:10px 0 0 0;}
form.formtastic fieldset.inputs{}form.formtastic fieldset.inputs legend span{display:block;margin-left:160px;}
form.formtastic fieldset.inputs label,form.formtastic fieldset.inputs legend.label label,form.formtastic fieldset.inputs legend.label span{width:150px;display:block;float:left;text-align:right;margin:0 10px 0 0;vertical-align:middle;font-weight:normal;}
form.formtastic fieldset.inputs p#agreement{width:65%;}
form.formtastic fieldset.inputs li#registration_terms_and_conditions_input label{width:200px;}
form.formtastic fieldset.inputs label.inline{display:inline;float:none;}form.formtastic fieldset.inputs label.inline input{width:auto;}
form.formtastic fieldset.inputs .string label,form.formtastic fieldset.inputs .password label,form.formtastic fieldset.inputs .numeric label,form.formtastic fieldset.inputs .select label,form.formtastic fieldset.inputs .file label,form.formtastic fieldset.inputs .text label{line-height:1.5em;padding:3px 0;}
form.formtastic fieldset.inputs .boolean label{text-align:left;float:none;margin-left:160px;}form.formtastic fieldset.inputs .boolean label input{margin-right:5px;border:0;}
form.formtastic fieldset.inputs .check_boxes fieldset{margin-left:160px;position:relative;}form.formtastic fieldset.inputs .check_boxes fieldset legend{height:0;}
form.formtastic fieldset.inputs .check_boxes fieldset legend span,form.formtastic fieldset.inputs .check_boxes fieldset legend label{position:absolute;left:-160px;}
form.formtastic fieldset.inputs .check_boxes fieldset ol label{font-weight:normal;display:inline;float:none;}
form.formtastic fieldset.inputs .check_boxes fieldset ol input{width:auto;width:1em;height:1em;vertical-align:middle;}
form.formtastic fieldset.inputs .check_boxes fieldset ol li{margin:0 0 4px 0;}
form.formtastic fieldset.inputs .inline-errors,form.formtastic fieldset.inputs .inline-hints{margin:5px 0 0 160px;}
form.formtastic fieldset.inputs .inline-errors{color:#c01B3B;}
form.formtastic fieldset.inputs li.no_label{margin-left:160px;}
form.formtastic fieldset.inputs input{width:400px;line-height:1.5em;vertical-align:top;}
form.formtastic fieldset.inputs input.date_input{width:100px;}
form.formtastic fieldset.inputs input.small{width:50px;}
form.formtastic fieldset.inputs input#registration_terms_and_conditions{width:auto;}
form.formtastic fieldset.buttons{margin-left:160px;}form.formtastic fieldset.buttons ol li{margin:0;}
form.formtastic.single_column fieldset.inputs{}form.formtastic.single_column fieldset.inputs label{display:block;float:none;text-align:left;line-height:1;padding:0 0 3px 0;}
form.formtastic.single_column fieldset.buttons,form.formtastic.single_column fieldset.inputs legend span,form.formtastic.single_column p{margin-left:0;}
.commit input,.buttons input{border:none;background:#e35691 url('/images/button_overlay.png') repeat-x;color:#fff;text-decoration:none;-moz-border-radius:5px 5px 5px 5px;-webkit-border-top-left-radius:5px;-webkit-border-top-right-radius:5px;-webkit-border-bottom-right-radius:5px;-webkit-border-bottom-left-radius:5px;border-radius:5px 5px 5px 5px;-moz-border-radius:5px 5px 5px 5px;-webkit-border-top-left-radius:5px;-webkit-border-top-right-radius:5px;-webkit-border-bottom-right-radius:5px;-webkit-border-bottom-left-radius:5px;border-radius:5px 5px 5px 5px;-moz-border-radius:5px 5px 5px 5px;-webkit-border-top-left-radius:5px;-webkit-border-top-right-radius:5px;-webkit-border-bottom-right-radius:5px;-webkit-border-bottom-left-radius:5px;border-radius:5px 5px 5px 5px;-moz-box-shadow:0px 1px 3px #999999;-webkit-box-shadow:0px 1px 3px #999999;box-shadow:0px 1px 3px #999999;-moz-box-shadow:0px 1px 3px #999999;-webkit-box-shadow:0px 1px 3px #999999;box-shadow:0px 1px 3px #999999;-moz-box-shadow:0px 1px 3px #999999;-webkit-box-shadow:0px 1px 3px #999999;box-shadow:0px 1px 3px #999999;text-shadow:0 -1px 1px rgba(0, 0, 0, 0.25);border-bottom:1px solid rgba(0, 0, 0, 0.25);cursor:pointer;color:#fff;background-color:#333;padding:2px 8px;width:auto !important;}
a{color:#4183c4;text-decoration:none;}
a:active{color:#4183c4;}
a:hover{color:#378ada;}
.commit input:hover,.buttons input:hover,#profile_submit:hover{color:#fff;background-color:#111;}
.minor{font-size:90%;color:#777;}
.spacer{height:20px;width:100%;}
ul.links,ul.links ul{list-style-type:none;}ul.links li,ul.links ul li{margin:5px 0;}
#property_links{font-size:1.4em;float:right;margin-right:100px;}
.uuid,.activation_url{font-family:monospace;font-size:1.2em;color:#333;}
.activation_url{padding:5px;border:1px solid #ddd;}
.expandable .handle,fieldset.expandable legend{cursor:pointer;}
.expandable.collapsed .contents,fieldset.collapsed ol{display:none;}
#locked_status,#clone_box{-moz-border-radius:5px 5px 5px 5px;-webkit-border-top-left-radius:5px;-webkit-border-top-right-radius:5px;-webkit-border-bottom-right-radius:5px;-webkit-border-bottom-left-radius:5px;border-radius:5px 5px 5px 5px;-moz-border-radius:5px 5px 5px 5px;-webkit-border-top-left-radius:5px;-webkit-border-top-right-radius:5px;-webkit-border-bottom-right-radius:5px;-webkit-border-bottom-left-radius:5px;border-radius:5px 5px 5px 5px;-moz-border-radius:5px 5px 5px 5px;-webkit-border-top-left-radius:5px;-webkit-border-top-right-radius:5px;-webkit-border-bottom-right-radius:5px;-webkit-border-bottom-left-radius:5px;border-radius:5px 5px 5px 5px;width:200px;float:right;padding:10px;border:1px solid #ccc;clear:right;margin-bottom:20px;}#locked_status form,#clone_box form,#locked_status fieldset,#clone_box fieldset,#locked_status li,#clone_box li{margin:0;}
#locked_status p,#clone_box p{margin:0 0 10px 0;}
#locked_status input.date_input,#clone_box input.date_input{width:194px;}
#locked_status li.commit,#clone_box li.commit{margin-top:5px;}
.properties_title{margin-left:160px;}
ul.properties{list-style-type:none;}ul.properties ul{list-style-type:disc;}
ul.properties li{margin:0 0 10px 0;overflow:hidden;}ul.properties li li{margin:0;overflow:visible;}
ul.properties .label{font-weight:bold;width:150px;display:block;float:left;margin:0 10px 0 0;text-align:right;}
ul.properties .value{display:block;float:left;}
ol.properties .label{font-weight:bold;width:150px;display:block;float:left;margin:0 10px 0 0;text-align:right;}
#query_form #query_start .date_input,#query_form #query_finish .date_input,#query_form #query_start label,#query_form #query_finish label{margin:0 0 5px 0;}
#query_form #query_start li,#query_form #query_finish li{margin:0;}
#query_form fieldset.buttons{clear:both;}
#query_form fieldset.readings ol li{overflow:hidden;}
#query_form fieldset.readings ol li.disabled{color:#888;}
#query_form fieldset.readings ol input,#query_form fieldset.readings ol label{display:block;float:left;border:none;}
#query_form fieldset.readings ol input{margin-top:2px;}
#query_form fieldset.readings ol label{margin-left:5px;}
#raw_query_form fieldset{float:left;margin:0 20px 0 0;}#raw_query_form fieldset li{margin:0;}
#raw_query_form fieldset label{line-height:1.5;}
#raw_query_form fieldset .date_input{vertical-align:top;}
#raw_data_clear{clear:both;margin-bottom:10px;}
#raw_data .data,#raw_data .reading{float:left;}
#raw_data .reading th{text-align:left;}
#raw_data .data{margin-left:20px;height:400px;width:300px;overflow-y:auto;}
#raw_data .permalink{clear:both;}
#thermal_images ol,ul#thermal_images{margin-left:160px;overflow:hidden;}#thermal_images ol li,ul#thermal_images li{float:left;margin-right:10px;display:block;width:150px;}#thermal_images ol li a,ul#thermal_images li a{margin-top:5px;display:block;}
#new-user-session input{width:200px;}
#user_session_remember_me{width:auto;}
#user_session_remember_me_input label{font-weight:normal;}
#dashboard ul.nav li.dashboard,#overview ul.nav li.overview,#users ul.nav li.users,#api_users ul.nav li.api_users,#programmes ul.nav li.programmes,#projects ul.nav li.projects,#about ul.nav li.about,#documentation ul.nav li.documentation,#properties ul.nav li.properties,#profiles ul.nav li.properties,#data ul.nav li.properties,#multi_property_csv_uploads ul.nav li.properties{background-color:#cccccc;}
#properties ul.property_nav li.property,#header ul.devices li.devices,#header ul.csv_uploads li.csv_uploads,#header ul.raw li.raw,#header ul.metering li.metering,#header ul.pre li.pre,#header ul.planned li.planned,#header ul.post li.post{background-color:#f8f8f8;}
#content #leader,#content #projects,#content #properties{border-top:1px #ddd solid;margin-top:15px;padding-top:15px;}
#user_sessions form .inputs li{margin-top:20px;}
ul#project_details{list-style-position:inside;}
#profile_air_tightness_performed_on_string_input{margin-top:25px;}
.translation_missing{color:red;text-decoration:blink;}
.profile-detail{margin-bottom:20px;}
input#permission_submit{width:100px;cursor:pointer;}
textarea.text_area_general{width:400px;}
.profile-photo{float:right;display:block;}
#documentation #content h2{text-transform:none;margin-top:10px;padding-bottom:5px;}
#documentation #content ul{margin:5px 0 0 20px;}
#documentation #content ul li{margin:-10px 0 20px 0;}
#documentation #content ul ul{margin-top:20px;}
#about #content h2{text-transform:none;margin-top:10px;padding-bottom:5px;}
#about #content ul{margin:5px 0 0 20px;}
#about #content ul li{margin:-10px 0 20px 0;}
#about #content ul ul{margin-top:20px;}
#api_permission_submit{width:140px;}
.mini-circle{-webkit-border-radius:8px;-moz-border-radius:8px;border-radius:8px;border:1px solid #ccc;width:15px;height:15px;display:inline-block;float:left;margin:1px;}
.red-fill{border:1px solid red;background-color:red;}
.orange-fill{border:1px solid orange;background-color:orange;}
.green-fill{border:1px solid green;background-color:green;}
.hidden{display:none;}
input#property_search_submit{height:24px;}
#search_filters{background:#f2f2f2;padding:5px;margin-bottom:10px;}
.filters{margin:5px 0 15px 0;line-height:20px;}
.age{width:610px;}
.region{width:560px;}
.heating_system{width:780px;}
tr.filtered_attributes td{background:#f3f3f3;padding:2px;border-bottom:0;font-style:italic;}
#graph_right .date_selector{margin-left:-50px;}
select#property_project_id{width:400px;}
body#csv_uploads table.csv_status th,body#csv_uploads table.csv_status td.nowrap{white-space:nowrap;}
body#csv_uploads table.csv_status td.i{font-style:italic;}
body#csv_uploads table.csv_status td.b{font-weight:bold;}
body#projects table.full th#leaders,body#programmes table.full th#leaders{width:20%;}
body#projects table.full th#properties,body#programmes table.full th#properties{width:25%;}
body#projects table.full td.nowrap,body#programmes table.full td.nowrap{white-space:nowrap;}
body#projects table.full td.leaders ul,body#programmes table.full td.leaders ul{margin-left:5px;}
ol.documents{margin:20px 20px 0 0;}ol.documents li{display:inline;}
ol.documents li.document_title a{display:inline-block;width:400px;}
ol.documents li.document_privacy{width:100px;margin-right:40px;}
ol.documents li.delete_document_checkbox{width:50px;}
.update_document_button{margin-top:20px;}
#header,#content{margin:0 auto;width:890px;padding:20px 30px;overflow:hidden;}
#header{padding-bottom:0;background-color:#eee;color:#333;position:relative;}#header a{color:#333;}
#header #login_info{position:absolute;right:30px;top:80px;}
#header #login_info a{color:#4183C4;}
#header h2{font-size:2em;color:#62333a;letter-spacing:2px;text-shadow:1px 1px 0 rgba(255, 255, 255, 0.75);}
#header ul.nav,#header ul.property_nav{clear:both;list-style-type:none;overflow:hidden;margin:0 -30px;padding:0 20px;border-bottom:1px solid #cccccc;}#header ul.nav li,#header ul.property_nav li{float:left;-moz-border-radius:5px 5px 0px 0px;-webkit-border-top-left-radius:5px;-webkit-border-top-right-radius:5px;-webkit-border-bottom-right-radius:0px;-webkit-border-bottom-left-radius:0px;border-radius:5px 5px 0px 0px;-moz-border-radius:5px 5px 0px 0px;-webkit-border-top-left-radius:5px;-webkit-border-top-right-radius:5px;-webkit-border-bottom-right-radius:0px;-webkit-border-bottom-left-radius:0px;border-radius:5px 5px 0px 0px;-moz-border-radius:5px 5px 0px 0px;-webkit-border-top-left-radius:5px;-webkit-border-top-right-radius:5px;-webkit-border-bottom-right-radius:0px;-webkit-border-bottom-left-radius:0px;border-radius:5px 5px 0px 0px;background-color:#e1e1e1;margin-left:10px;border:1px solid #ccc;border-bottom:0;text-shadow:1px 1px 0 rgba(255, 255, 255, 0.5);}#header ul.nav li a,#header ul.property_nav li a{display:block;padding:5px 10px;border-bottom:none;text-decoration:none;}
#header ul.nav li.selected,#header ul.property_nav li.selected{background-color:#cdcdcd;}
#header ul.nav li:hover,#header ul.property_nav li:hover{background-color:#cdcdcd;}
.admin_user #header ul.property_nav,.project_leader_user #header ul.property_nav{margin-top:7px;font-size:0.9em;margin-top:-1px;padding-top:8px;background-color:#cccccc;background:-moz-linear-gradient(top center, #cccccc, rgba(200, 200, 200, 0));background:-webkit-gradient(linear, center top, center bottom, from(#cccccc), to(rgba(200, 200, 200, 0)));}.admin_user #header ul.property_nav li:hover,.project_leader_user #header ul.property_nav li:hover{background-color:#f6f6f6;}
.admin_user #header ul.property_nav a,.project_leader_user #header ul.property_nav a{padding:3px 5px;}
#notice_message,#alert_message{position:relative;top:-20px;width:870px;padding:5px 10px;background-color:#f6f6e9;border:1px solid #b8b8a6;border-top:none;font-size:110%;color:#363629;-moz-border-radius:0 0 5px 5px;-webkit-border-top-left-radius:0;-webkit-border-top-right-radius:0;-webkit-border-bottom-right-radius:5px;-webkit-border-bottom-left-radius:5px;border-radius:0 0 5px 5px;-moz-border-radius:0 0 5px 5px;-webkit-border-top-left-radius:0;-webkit-border-top-right-radius:0;-webkit-border-bottom-right-radius:5px;-webkit-border-bottom-left-radius:5px;border-radius:0 0 5px 5px;-moz-border-radius:0 0 5px 5px;-webkit-border-top-left-radius:0;-webkit-border-top-right-radius:0;-webkit-border-bottom-right-radius:5px;-webkit-border-bottom-left-radius:5px;border-radius:0 0 5px 5px;}
#alert_message{color:#801B3B;background:#FFCFCF;border:1px #E5A3A3 solid;border-top:0;}
#content h1{margin:0 0 20px 0;}
pre{background-color:#bfbfbf;margin-top:5px;margin-bottom:5px;}
p.raw_data_csv_link{float:right;}
div#graph div.contents div#ajax-loader{text-align:center;margin-left:-50px;margin-top:70px;}
div#raw_data div#ajax-loader{margin-left:10px;margin-top:20px;}
#query_form div#graph_top div.left,#query_form div#graph div.left,#query_form div#graph_bottom div.left{width:300px;float:left;}
#query_form div#graph_top div.right,#query_form div#graph div.right,#query_form div#graph_bottom div.right{width:300px;float:right;}#query_form div#graph_top div.right table.right,#query_form div#graph div.right table.right,#query_form div#graph_bottom div.right table.right{float:right;}
#query_form div#graph_top,#query_form div#graph,#query_form div#graph_bottom{position:relative;}
#query_form div#graph_top{border-bottom:1px solid #ccc;}
#query_form div#graph_top fieldset#query_start,#query_form div#graph_top fieldset#query_finish{margin:0 0 5px 0;}#query_form div#graph_top fieldset#query_start label,#query_form div#graph_top fieldset#query_finish label{float:left;width:auto;margin-right:10px;font-size:1.2em;line-height:1.4em;font-weight:bold;}
#query_form div#graph{width:840px;margin:10px 0 0 20px;}#query_form div#graph div.contents{height:400px;margin:0 0 15px 0;}
#query_form div#graph div.legend table{margin:0 auto;border-collapse:separate;border-spacing:0 7px;}#query_form div#graph div.legend table td.legendLabel hr{border:none;background-color:#ccc;color:#ccc;height:1px;}
#query_form div#graph div.legend table td.legendLabel span.low_data{color:red;}
#query_form div#graph div.permalink{margin:10px 0 0 0;text-align:center;}
#query_form div#graph_bottom fieldset.aggregate{border-bottom:1px solid #CCCCCC;margin:0 0 20px;padding:0 0 10px;}#query_form div#graph_bottom fieldset.aggregate legend.label{font-size:1.2em;line-height:1.4em;font-weight:bold;}
#query_form div#graph_bottom fieldset.aggregate.disabled{color:#888;}
#query_form div#graph_bottom fieldset.readings legend.label{font-size:1.2em;line-height:1.4em;font-weight:bold;}
#query_form div#graph_bottom fieldset.readings section.label{margin-top:10px;border-top:1px solid #E0E0E0;font-size:1.0em;line-height:1.3em;font-weight:bold;}
#query_form div#reload_top{position:absolute;top:-23px;left:330px;}
#query_form div#reload_bottom{position:absolute;top:23px;left:330px;}
#query_form div#reload_top,#query_form div#reload_bottom{text-align:left;}#query_form div#reload_top p img#reload,#query_form div#reload_bottom p img#reload{vertical-align:middle;}


/* Some resets for compatibility with existing CSS */
.date_selector, .date_selector * {
  width: auto;
  height: auto;
  border: none;
  background: none;
  margin: 0;
  padding: 0;
  text-align: left;
  text-decoration: none;
}
.date_selector {
  background: #F2F2F2;
  border: 1px solid #bbb;
  padding: 5px;
  margin: -1px 0 0 0;
  position: absolute;
  z-index: 100000;
  display: none;
}
.date_selector_ieframe {
  position: absolute;
  z-index: 99999;
  display: none;
}
  .date_selector .nav {
    width: 17.5em; /* 7 * 2.5em */
  }
  .date_selector .month_nav, .date_selector .year_nav {
    margin: 0 0 3px 0;
    padding: 0;
    display: block;
    position: relative;
    text-align: center;
  }
  .date_selector .month_nav {
    float: left;
    width: 55%;
  }
  .date_selector .year_nav {
    float: right;
    width: 35%;
    margin-right: -8px; /* Compensates for cell borders */
  }
  .date_selector .month_name, .date_selector .year_name {
    font-weight: bold;
    line-height: 20px;
  }
  .date_selector .button {
    display: block;
    position: absolute;
    top: 0;
    width: 18px;
    height: 18px;
    line-height: 17px;
    font-weight: bold;
    color: #003C78;
    text-align: center;
    font-size: 120%;
    overflow: hidden;
    border: 1px solid #F2F2F2;
  }
    .date_selector .button:hover, .date_selector .button.hover {
      background: none;
      color: #003C78;
      cursor: pointer;
      border-color: #ccc;
    }
  .date_selector .prev {
    left: 0;
  }
  .date_selector .next {
    right: 0;
  }
  .date_selector table {
    border-spacing: 0;
    border-collapse: collapse;
    clear: both;
  }
    .date_selector th, .date_selector td {
      width: 2.5em;
      height: 2em;
      padding: 0;
      text-align: center;
      color: black;
    }
    .date_selector td {
      border: 1px solid #ccc;
      line-height: 2em;
      text-align: center;
      white-space: nowrap;
      color: #003C78;
      background: white;
    }
    .date_selector td.today {
      background: #FFFEB3;
    }
    .date_selector td.unselected_month {
      color: #ccc;
    }
    .date_selector td.selectable_day {
      cursor: pointer;
    }
    .date_selector td.selected {
      background: #D8DFE5;
      font-weight: bold;
    }
    .date_selector td.selectable_day:hover, .date_selector td.selectable_day.hover {
      background: #003C78;
      color: white;
    }


/**
 * jQuery lightBox plugin
 * This jQuery plugin was inspired and based on Lightbox 2 by Lokesh Dhakar (http://www.huddletogether.com/projects/lightbox2/)
 * and adapted to me for use like a plugin from jQuery.
 * @name jquery-lightbox-0.5.css
 * @author Leandro Vieira Pinho - http://leandrovieira.com
 * @version 0.5
 * @date April 11, 2008
 * @category jQuery plugin
 * @copyright (c) 2008 Leandro Vieira Pinho (leandrovieira.com)
 * @license CCAttribution-ShareAlike 2.5 Brazil - http://creativecommons.org/licenses/by-sa/2.5/br/deed.en_US
 * @example Visit http://leandrovieira.com/projects/jquery/lightbox/ for more informations about this jQuery plugin
 */
#jquery-overlay {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 90;
	width: 100%;
	height: 500px;
}
#jquery-lightbox {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	text-align: center;
	line-height: 0;
}
#jquery-lightbox a img { border: none; }
#lightbox-container-image-box {
	position: relative;
	background-color: #fff;
	width: 250px;
	height: 250px;
	margin: 0 auto;
}
#lightbox-container-image { padding: 10px; }
#lightbox-loading {
	position: absolute;
	top: 40%;
	left: 0%;
	height: 25%;
	width: 100%;
	text-align: center;
	line-height: 0;
}
#lightbox-nav {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 10;
}
#lightbox-container-image-box > #lightbox-nav { left: 0; }
#lightbox-nav a { outline: none;}
#lightbox-nav-btnPrev, #lightbox-nav-btnNext {
	width: 49%;
	height: 100%;
	zoom: 1;
	display: block;
}
#lightbox-nav-btnPrev {
	left: 0;
	float: left;
}
#lightbox-nav-btnNext {
	right: 0;
	float: right;
}
#lightbox-container-image-data-box {
	font: 10px Verdana, Helvetica, sans-serif;
	background-color: #fff;
	margin: 0 auto;
	line-height: 1.4em;
	overflow: auto;
	width: 100%;
	padding: 0 10px 0;
}
#lightbox-container-image-data {
	padding: 0 10px;
	color: #666;
}
#lightbox-container-image-data #lightbox-image-details {
	width: 70%;
	float: left;
	text-align: left;
}
#lightbox-image-details-caption { font-weight: bold; }
#lightbox-image-details-currentNumber {
	display: block;
	clear: left;
	padding-bottom: 1.0em;
}
#lightbox-secNav-btnClose {
	width: 66px;
	float: right;
	padding-bottom: 0.7em;
}