<!-- Logback configuration. See http://logback.qos.ch/manual/index.html -->
<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are  by default assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder -->
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %X{pipejine.q} %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="SYSLOG" class="ch.qos.logback.classic.net.SyslogAppender">
    <syslogHost>localhost</syslogHost>
    <facility>LOCAL0</facility>
    <suffixPattern>%logger{35} %X{pipejine.q} - %message%n</suffixPattern>
  </appender>

  <!-- Enable SYSLOG and STDOUT appenders for all log messages.
       By default, only log at level INFO and above. -->
  <root level="DEBUG">
    <appender-ref ref="STDOUT" />
    <appender-ref ref="SYSLOG" />
    <!-- <appender-ref ref="EMAIL" /> -->
  </root>

  <logger name="com.amazonaws" level="INFO" />
  <logger name="org.apache" level="INFO" />
  <logger name="com.datastax.driver.core" level="INFO" />
  <logger name="org.eclipse.jetty" level="INFO" />
  <logger name="org.quartz.core.QuartzSchedulerThread" level="INFO" />

  <!-- log all CQL-->
  <logger name="kixi.hecuba.storage.db.CQL" level="INFO"/>

  <!-- Mute session and security -->
  <logger name="kixi.hecuba.session" level="INFO" />
  <logger name="kixi.hecuba.security" level="INFO" />
  <logger name="kixi.hecuba.webutil" level="INFO" />

  <logger name="user" level="ALL" />
  <logger name="application" level="ALL" />

</configuration>
